[riversist]
# Interface to listen on
interface        = eth0

# For now, make sure you always filter on both TCP and IPv4 ('ip')
libpcap-filter    = "tcp and ip and (port 80 or port 443)"

# Commands to call when IP is determined to malicious or legit
malicious-ip-cmd = "/usr/local/sbin/pfctl -t spammers -T add %s"
legit-ip-cmd     = ""

[projectHoneyPot]
enabled	          = true

# API Key for Project HoneyPot
api-key           = ""

# Period in days after which HoneyPot hits should be ignored
#stale-period     = 14

# Threshold above which a HoneyPot hit will result in a malicious verdict
#max-score        = 25
