[riversist]
# Interface to listen on
interface        = eth0

# For now, make sure you always filter on both TCP and IPv4 ('ip')
libpcap-filter    = "tcp and ip and (port 80 or port 443)"

# Commands to call when IP is determined to malicious or legit
malicious-ip-cmd = "/usr/local/sbin/pfctl -t spammers -T add %s"
legit-ip-cmd     = ""


# Number of seconds after which a processed IP should be processed again.
# Set to 0 to never expire any result (not recommended).
# auto-expiry-time = 86400

# Interval with which to prune any processed items that have been processed
# more than 'auto-expiry-time' seconds ago.
# prune-interval = 1800


[projectHoneyPot]
enabled	          = true

# API Key for Project HoneyPot
api-key           = ""

# Period in days after which HoneyPot hits should be ignored
#stale-period     = 14

# Threshold above which a HoneyPot hit will result in a malicious verdict
#max-score        = 25


[dnsbl "tornevall"]
# Tornevall DNSBL: https://dnsbl.tornevall.org/index.php?do=usage


# The host to check any ip adresses against
host = "dnsbl.tornevall.org"

# If the last octet of the result is above, or equal to, this threshold
# the IP is considered to be malicious.
malicious-threshold = 32
